@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(20rem);
  }
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(20rem);
  }
}
@keyframes move-x {
  0% {
    transform: translateX(-10rem);
  }
  50% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(-10rem);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate-360 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes moveRandomly {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10%, -10%);
  }
  50% {
    transform: translate(-10%, 10%);
  }
  75% {
    transform: translate(-10%, -10%);
  }
  100% {
    transform: translate(10%, 10%);
  }
}
