.heading-primary {
  font-family: "Abril Fatface", cursive;
  font-size: 9.6rem;
}
.heading-secondary {
  font-family: "Montserrat", sans-serif;
  font-size: 9.6rem;
  font-weight: 900;
  letter-spacing: 18.56px;
  text-transform: uppercase;
}
.heading-light {
  font-family: "Montserrat", sans-serif;
  font-size: 5.6rem;
  font-weight: 100;
}
.text {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 166.688%;
  letter-spacing: 1.2px;
}
.text-xl {
  font-family: Montserrat;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 145%; /* 92.8px */
  letter-spacing: 0.64px;
}
.center-text {
  text-align: center;
}
.heading-strong {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 166.688%;
  letter-spacing: 1.2px;
}
