* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color;
  color: $black-color;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  font-size: 2rem;
}
@media (min-width: 1660px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
a,
a:link,
a:visited {
  text-decoration: none;
}
@media (min-width: 1660px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 500px) {
}
