$primary-color: rgb(255, 245, 226);
$black-color: #08274a;
$accent-color: #dbee9b;
$gray-color: #868686;
$white-color: #fff;
$darkblack-color: #0f0f0f;
$darkaccent-color: #e49675;
$darkbody-color: #06231c;
