$primary-color: rgb(59, 78, 218);
$black-color: #05172d;
$accent-color: #eabb22;
$gray-color: #868686;
$white-color: #fff;
$darkblack-color: #0f0f0f;
$darkaccent-color: lighten($accent-color, 20%);
$darkbody-color: #03082c;
